<section data-ng-controller="ConsumersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Consumers</h1>
    </div>
    <div class="consumers-list">
        <div data-ng-repeat="consumer in consumers" data-ng-href="#!/consumers/{{consumer._id}}" class="consumers-list-item">
            <div class="actions pull-right">
                <i 
                    data-ng-show="consumer.status == 'queue'"
                    class="glyphicon glyphicon-remove" 
                    data-ng-click="remove(consumer)"></i>
            </div>
            <p>
                <strong>Name:</strong> 
                {{consumer.firstName}} {{consumer.lastName}}
            </p>
            
            <p>
                <strong>Address:</strong> 
                {{consumer.address}}
            </p>
            
            <p>
                <strong>Appartment:</strong> 
                {{consumer.apartment}}
            </p>
            
            <p>
                <strong>Phone:</strong> 
                {{consumer.phone}}
            </p>
            
            <p>
                <strong>Product:</strong> 
                {{consumer.product}}
            </p>
            
            <small class="list-group-item-text">
                Created On
                <span data-ng-bind="consumer.created | date:'medium'"></span>
            </small>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!consumers.$resolved || consumers.length">
    	No Consumers yet, why don't you <a href="/#!/consumers/create">create one</a>?
    </div>
</section>