<div class="modal-header">
    <h3 class="modal-title">Order Has Been Placed!</h3>
</div>
<div class="modal-body">
    <h2>Delivery To Compartments</h2>

    <ul>
        <li ng-repeat="delivery in deliveries">
            #{{$index+1}} Delivery {{delivery.consumer.firstName}} {{delivery.consumer.lastName}} = Compartment #{{delivery.compartment}}
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button 
        ng-click="closeConfirmation('deliveries/create')"
        class="btn btn-primary" >Add More</button>
    <button 
        ng-click="closeConfirmation('/')"
        class="btn btn-success">Home</button>
</div>