<section data-ng-controller="DeliveriesController">
    <div class="page-header">
        <h2 class="pull-left">New Delivery</h2>

        <h2 class="pull-right">
            {{ calculateTotal() | currency:"Total: $":0 }}
        </h2>
        <div class="clearfix"></div>
    </div>

    <div class="row" ng-show="errors.has()">
        <div class="alert alert-danger" ng-repeat="err in errors.all">
            {{ err }}
        </div>
    </div>

    <div class="col-md-12" ng-init="getConsumers()">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <div ng-repeat="delivery in deliveries">
            <!-- needs to be only the active ones. not the inactive -->
            <!-- google maps check for radius of the address of the order and reject if it falls out of the area. -->
            <!-- add products select options small, medium, large pizza -->
            <!-- reload page when confirmation ends -->
                <div class="form-group">
                    <label class="control-label" for="price">Select Order</label>
                    <ui-select 
                        ng-model="delivery.consumer" 
                        theme="select2" 
                        ng-disabled="disabled" 
                        on-select="orderSelected($item, $model)"
                        style="min-width: 300px;">
                        <ui-select-match 
                            placeholder="Select an Order in the list or search customer...">
                            {{$select.selected.firstName}} {{$select.selected.lastName}}
                        </ui-select-match>

                        <ui-select-choices 
                            repeat="consumer in consumers | search: {firstName: $select.search, lastName: $select.search, phone: $select.search}">
                            <div 
                                ng-bind-html="consumer.firstName | highlight: $select.search">
                            </div>
                            <small>
                            name: {{consumer.firstName}} {{consumer.lastName}}
                            <br>
                            Appartment: <span ng-bind-html="''+consumer.apartment | highlight: $select.search"></span>
                            <br>
                            Phone: <span ng-bind-html="''+consumer.phone | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                    <div class="pull-right">
                        <i 
                            data-ng-show="$index > 0"
                            data-ng-click="cancelDelivery(delivery)" 
                            class="glyphicon glyphicon-remove"></i>
                    </div>
                </div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </div>
        </form>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <a
                data-ng-hide="hasOrdersInQueue()"
                href="#!/consumers/create?from_delivery=true" 
                class="btn btn-warning">
                <i class="glyphicon glyphicon-plus"></i>
                Add Order
            </a>

            <button
                type="button" 
                ng-click="addDelivery()" 
                class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i>
                Add Delivery
            </button>

            <button 
                ng-click="create()" 
                type="button" 
                class="btn btn-success">
                <i class="glyphicon glyphicon-ok"></i>
                Submit
            </button>
        </div>
    </div>
</section>