<section 
	data-ng-controller="DeliveriesController"
	data-ng-init="getDeliveries()"
	>
	
	<h2 class="text-center">Completed Deliveries</h2>

	<table st-table="deliveries" class="table table-striped">
		<thead>
		<tr>
			<th>Consumer Name</th>
			<th>Order Date</th>
			<th>Delivery Time</th>
			<th>Deliver Timestamp</th>
			<th>Photo Receipt</th>
			<th>Address</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="delivery in deliveries">
			<td>
				{{delivery.consumer.firstName}}
				{{delivery.consumer.lastName}}
			</td>
			<td>{{delivery.createdAt | date:'medium'}}</td>
			<td>{{delivery.totalTime}}</td>
			<td>{{delivery.completedAt | date:'medium'}}</td>
			<td>
				<button 
					data-ng-click="showPhotoReceipt(delivery)" 
					class="btn btn-primary btn-sm">
					View
				</button>
			</td>
			<td>{{delivery.consumer.address}}</td>
		</tr>
		</tbody>
	</table>

</section>