#map_canvas {
    position: relative;
    height: 400px;
    margin-top: 10px;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.consumers-list-item {
	padding: 2%;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 9px -2px #D0C8C8;
	box-shadow: 0 0 9px -2px #D0C8C8;
}

.consumers-list-item .glyphicon-remove {
	color: #830707;
	cursor: pointer;
}